.header {
	height: 70px;
	background-color: blue;
	display: flex;
	justify-content: space-between;
}

body {
	width: 100%;
	margin: 0 auto;
}

.header p {
	color: white;
	font-size: 22px;
	padding-left: 20px;
}

.navigation li a {
	color: white;
	text-decoration: none;
	font-size: 22px;

}

.navigation li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.gallery {
	width: 1058px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery a {
	width: 300px;
	height: 150px;
	margin: 5px;
}

.gallery a:nth-child(4) {
	width: 87%;
}

.gallery a:nth-child(8) {
	width: 87%;
}